/* ------- General Styles -------- */

body {
    width: 90%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

/* ------- Navigation Block: nav ------- */



/* ------- Form Block: form ------- */
