/* ------- With Nesting -------- */

/* General Styles */

body {
    width: 90%;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;
}

/*navigation */

nav {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #000;
    color: #FFF;
    padding: 1em 0;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.2rem;
        padding-bottom: 2px;

        &:link {
            color: red;
        }

        &:visited {
            color: #333;
        }

        &:hover,
        &:focus {
            color: #BADA55;
        }

        &:active {
            color: #C0FFEE;
        }
    }

}

/* form */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    min-height: 30vh;

    & .wrapper {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    & input {
        border: #333 2px solid;
    }

    & label {
        font-size: 1.25rem;

        & input {
            border: #999 2px dashed;
        }
    }

}