/* General layout */
body {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    font-family: sans-serif;
  }

  .card {
    border: 2px solid #ccc;
    padding: 1rem;
    resize: both;
    overflow: auto;
    min-width: 200px;
    min-height: 200px;
    max-width: 100%;
  }

  /* Step One - Enable container queries */
  .card-inline {
    container-type: inline-size; /* changes in width */ 
    container-name: cardInLine; /* optional, but needed when more than one container query */
  }

  .card-size {
    container-type: size; 
    container-name: cardSize;
  }

  .content {
    background-color: #eee;
    padding: 1rem;
    text-align: center;
    transition: all 0.3s ease;
  }

  /* Step Two - Create Container Queries */ 
  
  /* Container query: WIDTH for .card-inline */

  @container cardInLine (min-width: 400px) {
    .content {
      background-color: #BADA55; 
      font-size: 1.5rem; 
    }
  }

  /* Container query: HEIGHT for .card-size */

@container cardSize (min-height: 300px) {
  .content {
    background-color: #C0FFEE; 
    font-size: 1.5rem; 
  }
}